body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar {
    overflow: hidden;
    background-color: lightskyblue;
  }

  .navbar a{
    float: left;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: darkgray;
    color: whitesmoke;
  }



  .navbar img{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: -380px;
    height: 550px;
    width: 100%;"
  }
